/workspace.xml
/.idea/*
/gmall-user/.mvn/wrapper/maven-wrapper.jar
/gmall-user/.mvn/wrapper/maven-wrapper.properties
/gmall-user/.mvn/wrapper/MavenWrapperDownloader.java
/gmall-user/mvnw
/gmall-user/mvnw.cmd
/gmall-user/.mvn/wrapper/maven-wrapper.jar
